/* Configurações de estilo básicos da Página. */
h1,body,button,p,li,ul,h3{
    margin:0px;
    padding:0px;
}

body{  
    display: flex;
    flex-direction: column;
    width:100vw;
    height:100vh;
    font-family:"TimesNewRoman"
}
@font-face {
    font-family:"TimesNewRoman";
    src: url("./Assets/Fonts/TimesNewRoman.ttf");
}

.buttonDefualt{
    padding:2px 5px;
    border-radius: 5px;
    font-size:16px;
    height:25px;
    background:rgb(149,137,110);
    border:none;
    border-bottom:solid 3px rgb(77,77,77);
    color:white;
}

.buttonDefualt:active{
    position:relative;
    top:3px;
    border-bottom: none;
}

/*ITENS OBRIGATÓRIOS*/
.mandatoryItem b{
    color: #B5001A;
    font-size: 13px;
}

/* Esse código será apagado. serve apenas para vizualizar as cores que iremos trabalhar no projeto; */
.circle{
    margin:5px;
    height: 180px;
    width: 180px;
    border-radius:95px;
    border: 1px solid black;
    display:flex;   
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.venusColor{
    background:rgb(230,228,205);
}
.marsColor{
    background:rgb(149,137,110);
}
.mercuryColor{
    background:rgb(77,77,77);
}
#modalSysiphus{
    position: absolute;
    display:flex;
    justify-content: center;
    align-items:center;
    background:rgba(0,0,0,0.5);
    width:100%;
    height: 100%;
}
#modalSysiphus section{
    position:fixed;
    width:220px;
    height:120px;
    font-size:20px;
    background:#fff; 
    border-radius:5px;
    padding:5px;
}

#modalSysiphus section .title button{
    position:absolute;
    right:0;
    width:25px;
    height:25px;
    border-radius: 12.5px;
    margin-top:-15px;
    margin-right: -12px;
}
#modalSysiphus section .title{
    background:#ffff0088;
    height:25%;
}
#modalSysiphus section .message{
    background:#ff00ff88;
    height:50%;
    overflow-y: auto;
}
#modalSysiphus section .footer{
    display:flex;
    justify-content:space-between;
    background:#00ffff88;
    height:25%;
}