/* Estilo do Menu. */
#headerMenu {
    background: rgb(77, 77, 77);
    color: #fff;
}

#divHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px; 
    min-height: 50px;
    border-bottom: solid 1px rgb(50, 50, 50);
}

#headerMenu nav {
    width: 100%;
}

#headerMenu nav ul {
    width: 100%;
    margin: 5px;
    padding: 0px;
    list-style: none;
}

#headerMenu nav ul li {
    font-size: 18px;
}

#headerMenu nav ul li:hover {
    background: rgb(149, 137, 110);
}

#headerMenu button {
    border: none;
    right: 5px;
    background: transparent;
    color: #fff;
    font-size: 22px;
}

#divTitleApp {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

#divTitleApp img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-right: 10px;
    background: rgb(230, 228, 205);
}

#divTitleApp button:hover {
    cursor: pointer;
}

/* Estilo do corpo da página. */
#bodyContent {
    height: 100%;
    width: 100%;
    background: rgb(230, 228, 205);
    overflow-y: auto;
}

#contentDefault {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#contentDefault img {
    display: block;
    opacity: 0.12;
    width: 350px;
    height: 350px;
}

/*ESTILOS DA PÁGINA HOME*/

#divTemplateHome{
    background: rgba(0,0,0,.3);
    width: 95%;
    height: 97%;
    border-radius: 20px;
    padding:5px;
    overflow-y: auto;
}

.itemChecklist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius:10px;
    margin: 5px 0px;
    background:white;
    min-height:50px;
}
.itemChecklist header{
    padding: 0px 5px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.itemChecklist header button{
    height: 25px;
    width: 25px;
    border:none;
    box-shadow: 2px 2px 5px black;
    border-radius:12.5px;
}
.itemChecklist section{
    display:none;
    flex-direction: column;
}
/* Estilo do Componente criar checklist. */

#pageNewChecklist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#createChecklist {
    margin: 5px;
    height: 50%;
}

#viewChecklist {
    height: 50%;
}

#createChecklist, #viewChecklist {
    display: flex;
    flex-direction: column;
}

#divCreateChecklist {
    display: grid;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas:
        "header header header header header"
        "aside aside section  section section"
        "footer footer footer footer footer";
    flex-grow: 1;
    background: rgba(77, 77, 77, .2);
    border-radius: 5px;
    border: solid 1px rgb(77, 77, 77);
}

#divCreateChecklist header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px rgb(77, 77, 77);
    padding: 5px;
    grid-area: header;
}

#divCreateChecklist header button {
    align-items: center;
    background: white;
    font-weight: bold;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    font-size: 20px;
}

#divCreateChecklist header button:hover {
    cursor: pointer;
}

#divCreateChecklist header h1 {
    font-size: 22px;
}

#dayQuantits {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.formItemsStyle {
    background: rgb(149, 137, 110);
    color: white;
    border: none;
    border-radius: 5px;
    width: 85%;
}

#divCreateChecklist section {
    padding: 3px;
    overflow-y: auto;
    grid-area: section;
}

#divCreateChecklist section article {
    font-size: 18px;
    height: 80%;
}

#divCreateChecklist section article div {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    margin-left: 5px;
}

#divItemButtonGroup {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 15%;
}

#divItemButtonGroup div {
    width: 60px;
    display: flex;
    justify-content: space-between;
}

#divItemButtonGroup button {
    display: flex;
    align-items: center;
}

#checklistTitle {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#divCreateChecklist aside {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    padding: 2px;
    border-right: solid 1px rgb(77, 77, 77);
    overflow-y: auto;
    grid-area: aside;
}


#divCreateChecklist aside div {
    border-bottom: solid 1px rgb(77, 77, 77);
    padding: 5px 0px;
}

#divCreateChecklist aside #listItems {
    display: flex;
    flex-direction: column;
    border: none;
    width: 100%;
}
#divCreateChecklist aside #listItems div{
    height: 100px;
    overflow-y: auto;
    border: none;
}
#controllerItens{
    width: 100%;
}
#controllerItens b {
    background: white;
    padding: 1px 5px;
    color: rgb(77, 77, 77);
    border-radius: 5px;
}

#divCreateChecklist footer {
    padding: 0px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px rgb(77, 77, 77);
    grid-area: footer;
}

#divListChecklist{
    margin: 5px;
    height: 100%;
    background: rgba(77, 77, 77, .2);
    border-radius: 5px;
    border: solid 1px rgb(77, 77, 77);
}

#divListChecklist header {
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgb(77, 77, 77);
    padding: 5px;
}

#divListChecklist header h1{
    font-size: 22px;
}
#divListChecklist ol{  
    display: flex;
    flex-direction:column;
    padding: 0px;
}

#divListChecklist ol li{
    display: flex;   
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgb(77, 77, 77);
    margin:5px;
    font-size: 20px;
}

#divListChecklist section button{
    background:none;
    border-radius: 10px;
    width:20px;
    height:20px;
    font-size: 15px;
}

#buttonNextDay{
    font-size: 25px;
    margin:0px; 
    padding:0px;
    height: 30px;
    width: 30px;
    border-radius:15px;
    display: flex;
    align-items: center; 
    justify-content:center;
}